<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ingoibibo.ingornaltacco">

    <application>
        <activity android:name=".AltAccoActivity"></activity>
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_ingornaltacco">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>